{% extends "base.html" %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <h1>Welcome to the statistics page</h1>
    </div>

    <div class="row">
        <h2>Some stats</h2>
    </div>

    <div class="row">
        <ul>
            {% if number_of_students == 1 %}
            <li>There is {{number_of_students}} student.</li>
            {% else %}
            <li>There are {{number_of_students}} students.</li>
            {% endif %} {% if employed_students == 1 %}
            <li>{{employed_students}} student is employed.</li>
            {% else %}
            <li>{{employed_students}} of these students are employed.</li>
            {% endif %} {% if students_in_software_jobs == 1 %}
            <li>{{students_in_software_jobs}} student has a software job.</li>
            {% else %}
            <li>{{students_in_software_jobs}} of these students have a software job.</li>
            {% endif %}

            <li>{{percentage_of_employed_students}} % of students are employed.</li>
            <li>{{percentage_in_software_jobs}} % of students have a software job.</li>
            <li>{{non_software}} % of students are not in a software job.</li>
        </ul>
    </div>

</div>
{% endblock %}