{% extends "base.html" %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <h1>Hi!</h1>
        <p>Welcome to the survey page</p>
    </div>

    <div class="row">
        <p>{{ cloud1 }}</p>
    </div>


    <div class="row">
        <h2>Some survey highlights</h2>
        <ul>
            <li>"We love the course"</li>
            <li>"It's hard, but it's harder to ignore it."</li>
            <li>"I found a job I love!"</li>
            <li>"The job hunt was tougher than I expected."</li>
        </ul>
    </div>

</div>
{% endblock %}