{% extends "base.html" %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <h1>Hi!</h1>
        <p>Welcome to the survey page</p>
    </div>

    <div class="row">
        <h2>Here's the survey</h2>
        <p>{{ survey }}</p>
    </div>

    <div class="row">
        <h2>The frequency of words in the survey:</h2>
        {% for word, frequency in word_count.items() %}
        <p>{{ word }}: {{ frequency }}</p>
        {% endfor %}
    </div>

</div>
{% endblock %}